<html>

<head> <title> Apache Installed </title> </html>

<body>
<table border=1>
	<tr>
		<th> Name </th>
		<th> Value </th>
	</tr>

	<tr>
		<td> IPv4 </td>
		<td> {{ ansible_all_ipv4_addresses[0] }} </td>
	</tr>

	<tr>
		<td> SSH_CONNECTION </td>
		<td> {{ ansible_lsb.description}} </td>
	</tr>

	<tr>
		<td> ram </td>
		<td>{{ ansible_memtotal_mb }} </td>
	</tr>

	<tr>
		<td> hdd </td>
		<td>{{ ansible_devices.vda.size }} </td>
	<tr>

	<tr>
		<td> vcpu </td>
		<td>{{ ansible_processor_vcpus }} </td>
	</tr>
</table>
</body>
</html>
